body {
	font-family: Arial, "sans-serif";
	background-color: #111;
	background-image: url('image/fon.png');
	background-size: 100% 100vh;
	background-attachment: fixed;
	color: #fbf4f4;
} 

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 100vh);
	justify-items: center;
	
}
/* first page */
.head {
	grid-column: 1/2;
	grid-row: 1/2;
	margin-top: 2vh;
	width: 75vw;

	display: grid;
	grid-template-columns: repeat(12, 1fr); 
	grid-template-rows: repeat(12, 1fr);
	justify-content: space-around;
}
.head__nav{
	grid-column: 3/-3;
	grid-row: 1/2;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(97, 90, 90);	
}
/* .head__language {
	grid-column: 6/8;
	grid-row: 1/2;
} */
.order {
	font-family: "Lato";
	align-self: flex-end;
}
input {
	height: 40px;
	width: 140px;
	background-color: #3f5df1;
	border: none;
	color: #fbf4f4;
}
.head__content {
	grid-row: 2/-1;
	grid-column: 2/-3;
	background-image: url('image/dots.png');
	background-repeat: no-repeat;
	background-position: right bottom 70%;
	background-size: 125% 80%; 
	
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}
.lorem {
	grid-column: 2/13;
	grid-row: 2/6;
	
}
.lorem__title {
	margin-left: 100px;
	font-size: 55px;
}
.lorem__text {
	margin-left: 7px;
	padding: 80px 0px 80px 80px;
	font-size: 30px;
	background-image: url('image/loren_mini.png');
	background-size: 80px 20px;
	background-clip: border-box;
}
.design {
	grid-column: 6/13;
	grid-row: 4/10;
	border: 1px dotted blue;
}
.beautiful {
	margin-top: -30px;
	width: 500px;
	height: 300px;
}





/* second page */
.portfolio {
	background-color: #111;
	grid-row: 2/3;
	grid-column: 1/2;

}

/* third page */
.offer {
	background-color: #111;
	grid-row: 3/4;
	grid-column: 1/2;
}
