body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #111;
	background-image: repeating-linear-gradient(#020203 5%,  #0a0e1c 40%, #020203 50%);
	background-size: 100% 100vh;
	background-attachment: fixed;
	color: #fbf4f4;
	
} 

.main-grid {
	background-image: url('image/fon_head.png');
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 100vh);
	justify-items: center;
	
}
/* first page */
.head {
	grid-column: 1;
	grid-row: 1/2;
	margin-top: 2vh;
	width: 70%;
}
.head__nav{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(97, 90, 90);	
}
/* .head__language {
	grid-column: 6/8;
	grid-row: 1/2;
} */
.order {
	font-family: "Lato";
	align-self: flex-end;
}
input {
	height: 60px;
	width: 170px;
	font-weight: bold;
	text-shadow: 0 0 10px #333;
	text-transform: uppercase;
	background-image: linear-gradient( to right bottom, rgb(34, 53, 227), rgb(68, 99, 243));
	border: none;
	color: #fbf4f4;
}
.head__content {
	grid-row: 2/-1;
	grid-column: 2/-3;  
	display: flex;
	flex-wrap: wrap;
}
    
	
.lorem {
	width:50%;
}
.lorem__title {
	margin-left: 100px;
	font-size: 55px;
}
.lorem__text {
	position: absolute;
	
	left: 20%;
	padding: 80px 250px 80px 80px;
	font-size: 30px;
	background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(10, 10, 10, 0.3) );
	
}
.design {
	width: 50%;
	min-width: 740px;
	overflow: hidden;
}
ul {
	list-style: none;
}
.design ul li:nth-child(1) {
	position: absolute;
	top: 37%;
	left: 53%;
	animation: earth 30s linear infinite;	
}
.design ul li:nth-child(2) {
	position: absolute;
	top: 25vh;
	left: 37%;
	animation: dsin 3s  forwards;	
	z-index: 2;
	opacity: 0;
}
.design ul li:nth-child(3) {
	position: absolute;
	top: 25vh;
	left: 42%;
	animation: eg 3s  forwards;	
	z-index: 1;
	opacity: 0;
}
.design ul li:nth-child(4) {
	position: absolute;
	top: 29vh;
	left: 45.5%;
	animation: effects 1s  forwards;
	animation-delay: 2.5s;	
	z-index: 1;
	opacity: 0;
}
@keyframes earth {
	to {
		transform: rotate(360deg);
		transform-origin: center;
	}
}
@keyframes dsin {
	to {
		transform: rotate(720deg);
		transform-origin: center;
		opacity: 1;
	}
}
@keyframes eg {
	to {
		transform: rotate(-720deg);
		transform-origin: center;
		opacity: 1;
	}
}
@keyframes effects {
	to {
		opacity: 1;
	}
}


/* second page */
.portfolio {
	background-color: #111;
	grid-row: 2/3;
	grid-column: 1/2;

}

/* third page */
.offer {
	background-color: #111;
	grid-row: 3/4;
	grid-column: 1/2;
}
